@import  url('../../../assets/css/_globals.css');

body {
	margin:0px;
	font-size: 10pt;
	font-weight: var(--procMonitor-font-weight);
	font-family: var(--font-family);
	color: var(--procMonitor-font-color);
	background-color: var(--core-primary-2);
	user-select: none;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	padding: 10px;
}

#headings {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-self: stretch;
}

#columns {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-self: stretch;
}

.heading {
	flex-basis: 25%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.active {
	background-color: var(--button-affirmative-background-color);
}

.column {
	align-self: stretch;
	padding: 5px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.hidden {
	display: none !important;
}

.break {
	flex-basis: 100%;
	flex-grow: 1;
	height: 0;
}

input:disabled {
	background-color: darkgray;
	color: black;
}

.inputLabel {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 10pt;
}

.worksheetLi {
	margin-bottom: 10px;
}

.worksheetLabel {
	font-weight: 600;
	font-size: 12pt;
}

#allGroups {
	align-self: stretch;
}

.groupLi {
	align-self: stretch;
	margin-bottom: 10px;
}

.groupLabel {
	font-weight: 600;
	font-size: 12pt;
}

.groupDetails {
	align-self: stretch;
	background-color: #303030;
	padding: 5px;
	margin-top: 5px;
}

#groupEventLog {
	font-size: 9pt;
	background-color: lightgray;
	color: black;
	align-self: stretch;
}

.errorLabel {
	color: red;
	font-weight: bold;
}

.successLabel {
	color: green;
	font-weight: bold;
}

.hover:hover {
	color: var(--button-affirmative-background-hover-color);
}

.grow {
	flex-grow: 1;
}

.textField {
	align-self: stretch;
    margin: 5px;
}

.receivedData, .messageContentArea {
	align-self: stretch;
	flex-basis: 100%;
	flex-grow: 1;
	margin: 5px;
	font-size: 11px;
	font-weight: var(--procMonitor-font-weight);
	font-family: monospace;
	color: var(--core-primary-5);
	background-color: var(--procMonitor-background-color);
}

.messageContentArea {
	color: var(--core-primary);
	background-color: white;
}

.spacer1 {
	height: 50px;
}

.spacer2 {
	height: 15px;
}

.spacer3 {
	height: 10px;
}

.spacer4 {
	height: 5px;
}

hr {
	width: 90%;
}

h1 {
	font-weight: var(--font-weight-1);
	margin: 10px;
}

h2 {
	align-self: center;
	margin: 5px;
}

h3 {
	align-self: center;
	margin: 5px;
}

.securityButtonContainer {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.marketSectorButton {
	
    text-align: center !important;
    margin: 3px;
	flex-basis: 65px;
	height: 45px;
    -webkit-appearance:none;
	background-color: rgb(255, 208, 0);
	text-transform: uppercase;
    color: black;
    font-family: var(--font-family);
	font-weight: 700;
	font-size: 10pt;
    border: 0px;
    border-radius: 4px;
    padding: 4px;
    vertical-align: middle;
	transition: all .2s ease;
}

.button {
	align-self: stretch;
    text-align: center !important;
    margin: 5px;
    max-width: 2000px;
    -webkit-appearance:none;
    background-color: var(--button-affirmative-background-color);
    color: #FFF;
    font-family: var(--font-family);
	font-weight: 400;
	font-size: 11pt;
    border: 0px;
    border-radius: 4px;
    padding: 5px 10px;
    vertical-align: middle;
	transition: all .2s ease;
}

.button:hover {
	background-color: var(--button-affirmative-background-hover-color);
	cursor: pointer;
	transition: all .2s ease;
}

.clearbutton {
	align-self: stretch;
    text-align: center !important;
    margin: 5px;
    max-width: 2000px;
    -webkit-appearance:none;
    background-color: var(--button-negative-background-color);
    color: #FFF;
    font-family: var(--font-family);
	font-weight: 400;
	font-size: 125%;
    border: 0px;
    border-radius: 4px;
    padding: 5px 10px;
    vertical-align: middle;
	transition: all .2s ease;
}

.clearbutton:hover {
	background-color: var(--button-negative-background-hover-color);
	cursor: pointer;
	transition: all .2s ease;
}

.removeButton {
	height: 18px;
    width: 18px;
	text-align: center !important;
    margin: 1px 10px;
    max-width: 50px;
    -webkit-appearance:none;
    background-color: var(--button-negative-background-color);
    color: #FFF;
    font-family: var(--font-family);
	font-weight: 800;
	font-size: 10px;
    border: 0px;
    border-radius: 9px;
    padding: 1px 5px 1px 5px;
    vertical-align: middle;
	transition: all .2s ease;
}

.connectedIcon {
	height: 18px;
    width: 18px;
	text-align: center !important;
    margin: 1px 10px;
    max-width: 50px;
    -webkit-appearance:none;
    background-color: green;
    color: #FFF;
    font-family: var(--font-family);
	font-weight: 800;
	font-size: 10px;
    border: 0px;
    border-radius: 9px;
    padding: 1px 5px 1px 5px;
    vertical-align: middle;
	transition: all .2s ease;
}

.disconnectedIcon {
	height: 18px;
    width: 18px;
	text-align: center !important;
    margin: 1px 10px;
    max-width: 50px;
    -webkit-appearance:none;
    background-color: var(--button-negative-background-color);
    color: #FFF;
    font-family: var(--font-family);
	font-weight: 800;
	font-size: 10px;
    border: 0px;
    border-radius: 9px;
    padding: 1px 5px 1px 5px;
    vertical-align: middle;
	transition: all .2s ease;
}

.removeButton:hover {
	background-color: var(--button-negative-background-hover-color);
	cursor: pointer;
	transition: all .2s ease;
}

#quitFS {
	color: #ee5c5c;
	background-color: #FFFFFF;
	font-size: 100%;
	width: 140px;
}