<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>testBloomberg</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/css/finsemble.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/theme.css">
	<link rel="stylesheet" type="text/css" href="testBloomberg.css">
	<script src="../../vendor.bundle.js"></script>
	<script src="testBloomberg.js"></script>
</head>
<body>

<div id="container">
	<div id="bounds"></div>
	<div class="spacer2"></div>

	<h1><img src="Finsemble_Taskbar_Icon.png" id="finsembleLogo" height="25">
		&nbsp;
		Bloomberg Bridge Tester</h1>
		<span id="connectedIndicator" class="hidden">Connected <span class="connectedIcon">✓</span></span>
		<span id="disconnectedIndicator">Disconnected <span class="disconnectedIcon">X</span></span>
	<div class="spacer3"></div>

	<div id="headings">
		<div class="heading active" id="runCommandHeading" onclick="window.displayCol('runCommand');">
			<h2>Run Command</h2>
		</div>

		<div class="heading" id="worksheetsHeading" onclick="window.displayCol('worksheets');">
			<h2>Worksheets</h2>
		</div>
		
		<div class="heading" id="groupsHeading" onclick="window.displayCol('groups');">
			<h2>Groups</h2>
		</div>
		
		<div class="heading" id="securityLookupHeading" onclick="window.displayCol('securityLookup');">
			<h2>Security Lookup</h2>
		</div>

		<div class="heading" id="componentsHeading" onclick="window.displayCol('components');">
			<h2>Components</h2>
		</div>

		<!-- <div class="column" id="col3">
        <h2>Pub/Sub</h2>
      </div> -->
	</div>
	<div id="columns">
		<div class="column" id="runCommandCol">
			<!-- mnemonic -->
			<label class="inputLabel">
				Bloomberg Mnemonic:
				<input class="textField" id="mnemonic" value="DES"></input>
			</label>
			<label id="mnemonicError" class="errorLabel hidden">Set a Mnemonic (Bloomberg command)</label>
			
			<!-- panel -->
			<label class="inputLabel">
				Bloomberg Panel:
				<select id="panel" name="panel" class="textField">
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
				</select>
			</label>

			<!-- securityList -->
			<label class="inputLabel">
				Securities:
				<ul id="securities"></ul>
			</label>
			<label id="securityError" class="errorLabel hidden">Add at least one security</label>
			<label class="inputLabel">
				Add Security:
				<input class="textField" id="securityInput" value=""></input>
			</label>
			<div class="securityButtonContainer">
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities','Equity')">Equity</button>
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities','Comdty')">Comdty</button>
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities','Corp')">Corp</button>
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities','Curncy')">Curncy</button>
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities','Govt')">Govt</button>
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities','Index')">Index</button>
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities','M-mkt')">M-mkt</button>
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities','Mtge')">Mtge</button>
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities','Muni')">Muni</button>
				<button class="marketSectorButton" onclick="window.addSecurity('securityInput','securities')">no sector</button>
			</div>
			


			<!-- tails -->
			<label class="inputLabel">
				Tails (optional):
				<input class="textField" id="tails" value=""></input>
			</label>

			<hr />

			<button class="button" id="runCommandButton" onclick="window.runBBGCommand()">Run command</button>
			<label id="commandError" class="errorLabel hidden">Function returned an error (see Central logger for details)</label>
			<label id="commandSuccess" class="successLabel hidden">Command Accepted</label>
		</div>

		<div class="column hidden" id="worksheetsCol">
			<label class="inputLabel">
				All Worksheets:
				<ul id="allWorksheets"></ul>
			</label>
			<button class="button" id="refreshWorksheetsButton" onclick="window.getAllWorksheets()">refresh</button>
			<hr />

			<!-- Worksheet name -->
			<label class="inputLabel">
				Worksheet name:
				<input class="textField" id="worksheetName" value=""></input>
			</label>

			<label class="inputLabel">
				Worksheet id:
				<input class="textField" id="worksheetId" value="" disabled></input>
			</label>
			<label id="worksheetIdError" class="errorLabel hidden">A worksheet Id is required, please load a worksheet before replacing its securities</label>
			
			<!-- securityList -->
			<label class="inputLabel">
				Securities:
				<ul id="worksheetSecurities"></ul>
			</label>
			<label class="inputLabel">
				Add Security:
				<input class="textField" id="createWorksheetSecurityInput" value=""></input>
			</label>
			<div class="securityButtonContainer">
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities','Equity')">Equity</button>
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities','Comdty')">Comdty</button>
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities','Corp')">Corp</button>
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities','Curncy')">Curncy</button>
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities','Govt')">Govt</button>
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities','Index')">Index</button>
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities','M-mkt')">M-mkt</button>
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities','Mtge')">Mtge</button>
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities','Muni')">Muni</button>
				<button class="marketSectorButton" onclick="window.addSecurity('createWorksheetSecurityInput','worksheetSecurities')">no sector</button>
			</div>


			<hr />

			<button class="button" id="createWorksheetButton" onclick="window.createWorksheet()">Create Worksheet</button>
			Note: There is no visible output for the creation of a worksheet, run the command 'W' command to see all worksheets.
			<button class="button" id="replaceWorksheetButton" onclick="window.replaceWorksheet()">Save Worksheet</button>
			<hr />
			<label id="allWorksheetsError" class="errorLabel hidden">Error retrieving all Worksheets (see Central logger for details)</label>
			<label id="worksheetError" class="errorLabel hidden">Worksheet load returned an error (see Central logger for details)</label>
			<label id="worksheetSaveSuccess" class="successLabel hidden">Worksheet saved</label>
			<label id="worksheetCreateSuccess" class="successLabel hidden">Worksheet created</label>
		</div>

		<div class="column hidden" id="groupsCol">

			<template id="groupDetails">
				<div class="groupDetails">
					<label class="inputLabel">Name:
						<input class="textField groupName" disabled></input>
					</label>
					<label class="inputLabel">Type:
						<input class="textField groupType" disabled></input>
					</label>
					<label class="inputLabel">Value:
						<input class="textField groupValue" disabled></input>
					</label>
					
					<button class="button" onclick="window.refreshGroupContext(this.parentElement)">refresh</button>

					<hr />

					<label class="inputLabel">Set Context:
						<input class="textField newGroupValue"></input>
					</label>
					<div class="securityButtonContainer">
						<!-- TODO: this isn't exactly elegant, refactor to not require the reference to the top level div -->
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement, 'Equity')">Equity</button>
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement, 'Comdty')">Comdty</button>
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement, 'Corp')">Corp</button>
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement, 'Curncy')">Curncy</button>
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement, 'Govt')">Govt</button>
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement, 'Index')">Index</button>
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement, 'M-mkt')">M-mkt</button>
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement, 'Mtge')">Mtge</button>
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement, 'Muni')">Muni</button>
						<button class="marketSectorButton" onclick="window.setGroupContext(this.parentElement.parentElement)">no sector</button>
					</div>
					
				</div>
			</template>

			<label class="inputLabel">
				All Launchpad Groups:
				<ul id="allGroups"></ul>
			</label>
			<hr />
			<button class="button" id="refreshGroupsButton" onclick="window.getAllGroups()">refresh groups</button>
			<label id="allGroupsError" class="errorLabel hidden">Error retrieving all groups (see Central logger for details)</label>
			<label id="getGroupContextError" class="errorLabel hidden">Error retrieving group context (see Central logger for details)</label>
			<label id="setGroupContextError" class="errorLabel hidden">Error setting group context (see Central logger for details)</label>
			<label id="setGroupContextSuccess" class="successLabel hidden">Set group context successfully</label>
			<hr />
			<label class="inputLabel">Group event log:
				<div class="spacer4"></div>
				<textarea id="groupEventLog" rows="20" cols="60"></textarea>
			</label>

			
		</div>

		<div class="column hidden" id="securityLookupCol">
			
			<label class="inputLabel">
				Security to lookup:
				<input class="textField" id="securityLookup" value=""></input>
			</label>
			<label id="securityLookupDataError" class="errorLabel hidden">Enter a String to lookup</label>
		
			<button class="button" id="runSecurityLookupButton" onclick="window.runSecurityLookup()">Lookup</button>
			<div class="note">N.b. Security lookup is only supported on local connections as it is a function of the Bloomberg Destkop API (DAPI)</div>
			<label id="securityLookupError" class="errorLabel hidden">Function returned an error (see Central logger for details)</label>
			<label id="securityLookupSuccess" class="successLabel hidden">Security Lookup successful: </label>
			
		</div>

		<div class="column hidden" id="componentsCol">
			<div class="spacer4"></div>
			<H3>Not implement yet!</H3>
			
		</div>

	</div>
	


	

</div>


</body>
</html>

