<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Desktop search widget for Bloomberg Securities"
    />
	<title>Bloomberg Security Finder</title>
	<script src="../../vendor.bundle.js"></script>
  <script src="index.js"></script>
<link rel="stylesheet" type="text/css" href="../../assets/css/finsemble.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/theme.css">
	<link rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
